.title-contact{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: 'Lobster', cursive;
    line-height: 0;
}

.contact-header{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Tilt Warp', cursive;
    line-height: 0;
}