.nav-bar {
    background-color: rgb(63, 63, 63);
    padding: 20px;
    text-align: right;

    .nav-button{
        color: white;
        padding: 20px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Tilt Warp', cursive;

        &:hover{
            color: rgb(0, 0, 0);
        }
    }

    
}

.title{
    text-align: left;
    padding-top: 1px;
    line-height: 0px;
    margin-top: 15px;

    .title-name{
        text-decoration: none;
        font-size: 40px;
        color: white;
        font-family: 'Lobster', cursive;
        &:hover{
            color: rgb(0, 0, 0);
        }
    }
}
