.footer-container{
    background-image: linear-gradient(to bottom, rgb(32, 31, 31), rgb(170, 40, 40));
    text-align: center;
    padding: 40px;

    .footer-items{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Tilt Warp', cursive;
        padding: 20px;
        display: inline;

        .portfolio{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-family: 'Tilt Warp', cursive;  
            
            &:hover{
                color: rgb(91, 91, 108);
            }
        }
    }
}