.hero-slider-container{
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    .title{
        text-align: center;
        font-family: 'Lobster', cursive !important;
        font-size: 80px !important;
        color: white;
        margin-top: 300px;
        padding-bottom: 2px;
        line-height: 0px;
    }

    .address{
        text-align: center;
        color: white;
        font-size: 45px;
        font-weight: bold;
        line-height: 0px;
    }
}